<ion-header>
  <ion-toolbar>
    <ion-item class="ion-no-padding" lines="none">
      <ion-title>Profile</ion-title>
      <ion-button fill="clear" routerLink="/home">
        <ion-icon slot="start" name="chevron-back-outline"></ion-icon>
        Back
      </ion-button>
    </ion-item>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <ion-grid>
    <ion-row class="ion-justify-content-center">
      <img alt="{{profile.name}}" src="../assets/img/{{profile.username}}.png" />
    </ion-row>
  </ion-grid>
  <ion-list lines="none">
    <ion-item>
      <ion-label>Name:</ion-label>
      {{profile.name}}
    </ion-item>
    <ion-item>
      <ion-label>Username:</ion-label>
      {{profile.username}}
    </ion-item>
    <ion-item>
      <ion-label>Email Address:</ion-label>
      {{profile.email}}
    </ion-item>
    <ion-item>
      <ion-label>Phone Number:</ion-label>
      {{profile.phone}}
    </ion-item>
    <ion-item>
      <ion-label>Website URL:</ion-label>
      {{profile.website}}
    </ion-item>
  </ion-list>
</ion-content>
