<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Cards
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card color="light" *ngFor="let employee of employees; index as i" routerLink="/profile/{{i}}" [queryParams]="employee">
    <ion-grid>
      <ion-row>
        <ion-col size="auto">
          <img alt="{{employee.name}}" src="../assets/img/{{employee.username}}.png" style="width: 100px; height:100px"/>
          <!-- <ion-icon name="person" style="font-size: 110px;"></ion-icon> -->
        </ion-col>
        <ion-col>
          <ion-card-header>
            <ion-card-title>{{employee["name"]}}</ion-card-title>
            <ion-card-subtitle><ion-icon name="mail"></ion-icon>
              SV{{employee["email"]}}</ion-card-subtitle>
          </ion-card-header>

          <ion-card-content>
            <ion-icon name="call"></ion-icon>
            {{employee["phone"]}}
          </ion-card-content>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>
</ion-content>
